@use '../variables' as *;
@use '../generators/classes' as *;
@use '../generators/breakpoints' as *;
/*

   GAP
   Solus-Tachyons

   A spacing utility for controlling the gap between elements in flex, grid and multi-column containers.

   Base:
     gap-$spacing   // row & column
     gap-x-$spacing // row-gap
     gap-y-$spacing // column-gap

     1 = 1st step in spacings scale
     2 = 2nd step in spacings scale
     3 = 3rd step in spacings scale
     4 = 4th step in spacings scale
     5 = 5th step in spacings scale
     ...

*/
@include generate-breakpoints {
  /* gap */
  @include generate-compound-classes($spacings, gap, '', $bkpt-suffix) using
    ($key, $value, $prefix, $suffix, $bkpt-suffix, $i) {
    .#{$prefix}#{$i}#{$bkpt-suffix} {
      gap: var(--#{$key}, #{$value});
    }
  }

  /* gap-x */
  @include generate-compound-classes($spacings, gap-x, '', $bkpt-suffix) using
    ($key, $value, $prefix, $suffix, $bkpt-suffix, $i) {
    .#{$prefix}#{$i}#{$bkpt-suffix} {
      row-gap: var(--#{$key}, #{$value});
    }
  }

  /* gap-y */
  @include generate-compound-classes($spacings, gap-y, '', $bkpt-suffix) using
    ($key, $value, $prefix, $suffix, $bkpt-suffix, $i) {
    .#{$prefix}#{$i}#{$bkpt-suffix} {
      column-gap: var(--#{$key}, #{$value});
    }
  }
}
