/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/
.link {
  text-decoration: none;
  transition: color 0.15s ease-in;

  &:link,
  &:visited,
  &:hover,
  &:active {
    transition: color 0.15s ease-in;
  }

  &:focus {
    outline: 2px dotted currentcolor;
    transition: color 0.15s ease-in;
  }
}
