@use "../variables" as *;
@use "../generators/classes" as *;
@use "../generators/breakpoints" as *;
/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */
@include generate-breakpoints {
  @include generate-nested-map-classes($color-scales, 'hover-') using
    ($key, $value, $prefix,  $bkpt-suffix) {
    .#{$prefix}#{$key}#{$bkpt-suffix} {
      &:hover,
      &:focus {
        color: var(--#{$key}, #{$value});
      }
    }
  }

  @include generate-nested-map-classes($color-scales, 'hover-bg-') using
    ($key, $value, $prefix,  $bkpt-suffix) {
    .#{$prefix}#{$key}#{$bkpt-suffix} {
      &:hover,
      &:focus {
        background-color: var(--#{$key}, #{$value});
      }
    }
  }
}
