@use "../generators/breakpoints" as *;
/*

   WHITE SPACE

*/
@include generate-breakpoints {
  .ws-normal#{$bkpt-suffix} {
    white-space: normal;
  }

  .ws-nowrap#{$bkpt-suffix} {
    white-space: nowrap;
  }

  .ws-pre#{$bkpt-suffix} {
    white-space: pre;
  }

  .ws-prewrap#{$bkpt-suffix} {
    white-space: pre-wrap;
  }
}
