@use "../generators/breakpoints" as *;
/*

  WORD BREAK

  See also overflow-wrap.

   Base:
     bw = word-break

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
@include generate-breakpoints {
  .work-break-normal#{$bkpt-suffix} {
    word-break: normal;
  }

  .work-break-all#{$bkpt-suffix} {
    word-break: break-all;
  }

  .work-break-keep#{$bkpt-suffix} {
    word-break: keep-all;
  }

  .work-break-wrap#{$bkpt-suffix} {
    word-break: wrap;
  }

  .work-break-auto#{$bkpt-suffix} {
    word-break: auto-phrase; /* experimental */
  }
}
